.container {
  display: flex;
  min-height: 100vh;
  background-color: #121212;
  position: relative;
  
  @media (max-width: 768px) {
    display: block;
  }
}

.content {
  flex: 1;
  padding: 24px;
  width: 100%;
  max-width: calc(100% - 320px);

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

