.page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  
  @include mobile-sm {
    padding: 1.5rem 0;
  }
  
  @include mobile-xs {
    padding: 1rem 0;
  }
}
