.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem;
    margin:0 auto;
    height: 75px;
    background: var(--darkGray)
}

.nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.auth {
    display: flex;
    gap: 1rem;
}