.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.button {
  background-color: #4caf50;
}

.oauthButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
